<body>
    <div class="cadastro">
        <h2 class="bemVindo">Cadastre-se</h2>
        <input class="pergunta" placeholder="Insira seu Nome Completo" required>
        <input class="pergunta" placeholder="Insira seu CPF" required>
        <input class="pergunta" placeholder="Insira seu Email" required type="email">
        <input class="pergunta" placeholder="Insira seu Celular" required type="text">
        <input class="pergunta" placeholder="Insira sua Senha" required type="password">
        <input class="pergunta" placeholder="Insira sua Curso" required type="password">
        <button type="submit" class="confirmarCadastro">Criar Conta</button>
    </div>
</body>
